@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Arimo:regular&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Caveat:regular&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "Neris-Black";
  font-display: swap;
  src: url("../fonts/Neris-Black.woff") format("woff"), url("../fonts/Neris-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RUSMadeinChina";
  font-display: swap;
  src: url("../fonts/RUSMadeinChinav2-Regular_18926.woff") format("woff"), url("../fonts/RUSMadeinChinav2-Regular_18926.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Arimo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arimo";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 42px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.67px;
  position: relative;
}

.btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.btn_b {
  color: #fff;
  background-color: #242424;
}

.btn_b:after {
  background-color: #000;
}

.btn_y {
  color: #ffd000;
  color: #f5deb3;
  border: 1px solid #ffd000;
  border: 1px solid #f5deb3;
  background-color: transparent;
  padding: 0px 30px;
}

.btn_y:after {
  background-color: rgba(199, 3, 3, 0.753);
}

.btn_yandex {
  height: 80px;
  padding: 10px 20px;
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffd000;
}

.btn_yandex:after {
  background-color: #f5deb3;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn_delivery {
  height: 80px;
  padding: 30px 30px 20px 30px;
  border-radius: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8bc34a;
}

.btn_delivery:after {
  background-color: #b3fa61;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 1;
}

.btn:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-family: Neris-Black;
  font-size: 35px;
  color: #e93249;
  margin: 0px 0px 43px 0px;
}

.header-block__title_1 {
  display: inline-block;
  position: relative;
}

.header-block__title_1:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  background-color: #fff;
}

.header-block__title_1:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  background-color: #fff;
}

.header-block__title_2 {
  display: inline-block;
  position: relative;
}

.header-block__title_2:before {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  left: -100px;
  top: 50%;
  background-color: #fff;
}

.header-block__title_2:after {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  right: -100px;
  top: 50%;
  background-color: #fff;
}

.header-block__subtitle {
  max-width: 600px;
  margin: 0px auto;
  font-size: 26px;
  line-height: 26px;
  font-family: "Caveat", cursive;
  color: #f5deb3;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 60;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header.scrolled:before {
  background-color: #242424;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  padding: 0px 20px;
  position: relative;
}

.header__list li:after {
  content: '';
  width: 3px;
  height: 3px;
  background-color: wheat;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1.5px 0px 0px 0px;
}

.header__list li:last-child:after {
  display: none;
}

.header__link {
  color: wheat;
  text-shadow: wheat 0px 0px 6px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #fcd58b;
  text-shadow: #ffd000 0px 0px 6px;
}

.header__mobile-menu-logo {
  display: none;
}

.footer {
  background-color: #222;
  padding: 45px 0 25px 0;
  position: relative;
  z-index: 5;
}

.footer__body {
  text-align: center;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 20px 0px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__title {
  font-size: 20px;
  color: #fff;
  margin: 0px 0px 30px 0px;
}

.footer__contacts {
  text-align: left;
  margin: 0px 0px 0px 50px;
}

.footer__contacts li {
  margin: 0px 0px 20px 0px;
}

.footer__contacts li:last-child {
  margin: 0;
}

.footer__contact-link {
  color: #f5deb3;
  text-shadow: #f5deb3 0 0 5px;
  font-size: 16px;
  padding: 0px 0px 0px 30px;
}

.footer__contact-link:hover {
  color: #fcd58b;
}

.footer__contact-link_1 {
  background: url("../img/footer/torii-gate-solid.svg") 0 0/16px no-repeat;
}

.footer__contact-link_2 {
  background: url("../img/footer/phone-solid.svg") 0 0/16px no-repeat;
}

.footer__contact-link_3 {
  background: url("../img/footer/envelope-solid.svg") 0 0/16px no-repeat;
}

.footer__link {
  color: #f5deb3;
  font-size: 16px;
}

.footer__link:hover {
  color: #fcd58b;
}

.footer__logo img {
  max-width: 180px;
}

.footer__list li {
  margin: 0px 0px 10px 0px;
}

.footer__list li:last-child {
  margin: 0;
}

.footer__text {
  font-size: 16px;
  color: #bbb;
  margin: 0px 0px 20px 0px;
}

.footer__text:last-child {
  margin: 0;
}

.footer__text span {
  color: #fff;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  background-color: #242424;
}

.main-screen {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-screen__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 700px;
}

.main-screen__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._no-webp .main-screen__header{
  background: url("../img/main-screen/rsz_brush.png") center/100% no-repeat; }

.main-screen__header {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdf3f3;
  text-shadow: white 0px 0px 6px;
  font-family: RusMadeInChina, Georgia, Times, "Times New Roman", serif;
  font-size: 110px;
  font-weight: bold;
}

._no-webp .main-screen__subheader{
  background: url("../img/main-screen/rsz_brush.png") center/100% no-repeat; }

.main-screen__subheader {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 70px 0px;
}

.main-screen__subheader .main-screen__text-1 {
  margin: 0px 0px 10px 0px;
  color: #f03939;
  text-shadow: red 5px 2px 10px;
  font-family: RusMadeInChina, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  font-weight: bold;
}

.main-screen__subheader .main-screen__text-2 {
  color: #fdf3f3;
  text-shadow: white 0px 0px 10px;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 30px;
}

.main-screen__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__btn {
  margin: 0px 0px 60px 0px;
}

.main-screen__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}

@keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }

  50% {
    top: 10px;
  }

  100% {
    top: 0;
  }
}

.content {
  background-color: #2c2b2b;
  position: relative;
  z-index: 50;
}

.menu-intro {
  padding: 100px 0;
}

.menu-intro__header {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.menu-intro__art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-intro__art img {
  max-width: 200px;
}

.portfolio {
  padding: 120px 0px 60px 0px;
}

.portfolio__header-block {
  margin: 0px 0px 50px 0px;
}

.portfolio__filter {
  margin: 0px 0px 60px 0px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 50%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
}

.portfolio__item {
  display: block;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  padding: 0px 0px 60% 0px;
  position: relative;
}

.portfolio__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__item-description {
  background-color: #f5deb3;
  -webkit-box-shadow: 0px 0px 6px #f5deb3;
          box-shadow: 0px 0px 6px #f5deb3;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  text-align: center;
  font-family: Neris-Black;
  font-size: 30px;
  color: #e93249;
  padding: 15px 0px;
}

.portfolio__footer {
  padding: 35px 0px 0px 0px;
  text-align: center;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__item {
  color: grey;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 25px;
  cursor: pointer;
}

.filter__item._active {
  color: #e93249;
}

._no-webp .delivery{
  background: url("../img/delivery/bg.png") center/cover no-repeat fixed; }

.delivery {
  padding: 100px 0;
  height: 700px;
}

.delivery__body {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__item {
  width: 250px;
  margin: 0px 0px 45px 0px;
}

.delivery__item:last-child {
  margin: 0;
}

.delivery__item img {
  max-width: 100%;
}

.promotions {
  padding: 100px 0;
}

.promotions__header {
  margin: 0px 0px 30px 0px;
}

.promotions__body {
  max-width: 645px;
  margin: 0 auto;
}

.slider__item {
  text-align: center;
}

.slider__icon {
  margin: 0px 0 30px 0;
  padding: 0px 0px 50% 0px;
  position: relative;
}

.slider__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  overflow: hidden;
}

.slider__description {
  font-size: 24px;
  line-height: 25px;
  margin: 0px 0px 50px 0px;
}

.slider__description-title {
  color: #ffd000;
  text-shadow: grey 0 0 5px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.slider__description-text {
  color: #f5deb3;
  text-shadow: grey 0 0 5px;
}

.main-menu {
  background-color: #222;
  padding: 100px 0;
}

.main-menu__header {
  margin: 0px 0px 20px 0px;
}

.main-menu__image {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 120% 0px;
  position: relative;
}

.main-menu__image:last-child {
  margin: 0;
}

.main-menu__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
  overflow: hidden;
}

.address {
  padding: 100px 0;
}

.address__header {
  margin: 0px 0px 20px 0px;
}

.address__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__details {
  margin: 0px 60px 0px 0px;
}

.address__text {
  text-align: center;
  font-size: 22px;
  color: #fd5050;
  margin: 0px 0px 25px 0px;
}

.address__text:nth-child(odd) {
  color: #f5deb3;
}

.address__text:nth-child(3) {
  margin: 0px 0px 50px 0px;
}

.address__text:last-child {
  margin: 0;
}

@media (max-width: 1250px) {
  .address__map iframe {
    width: 500px;
    height: 340px;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }

  .footer__contacts {
    margin: 0px 0px 0px 20px;
  }
}

@media (max-width: 1100px) {
  .header-block__title {
    font-size: 28px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .footer__row {
    margin: 0px 0px 40px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__column:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .footer__column:nth-child(3) {
    display: none;
  }

  .footer__contacts {
    margin: 0px 0px 0px 0px;
  }

  .footer__logo img {
    max-width: 150px;
  }

  .portfolio {
    padding: 50px 0px 40px 0px;
  }

  .portfolio__header-block {
    margin: 0px 0px 30px 0px;
  }

  .portfolio__filter {
    margin: 0px 0px 50px 0px;
  }

  .portfolio__item-description {
    padding: 10px 0px;
    font-size: 25px;
  }

  .main-menu__image {
    padding: 0px 0px 150% 0px;
  }

  .address__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .address__column {
    width: 100%;
  }

  .address__details {
    margin: 0px 0px 30px 0px;
  }

  .address__map iframe {
    width: 100%;
  }
}

@media (max-width: 930px) {
  .header-block__title_2:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 50%;
    background-color: #fff;
  }

  .header-block__title_2:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: 50%;
    background-color: #fff;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
    overflow: hidden;
  }

  .header-block__title {
    margin: 0px 0px 28px 0px;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts {
    text-align: center;
    margin: 0px 0px 60px 0px;
  }

  .main-screen__header {
    font-size: 70px;
  }

  .main-screen__subheader .main-screen__text-1 {
    font-size: 28px;
  }

  .main-screen__subheader .main-screen__text-2 {
    font-size: 24px;
  }

  .menu-intro {
    padding: 50px 0;
  }

  .portfolio {
    padding: 50px 0px 0px 0px;
  }

  .portfolio__header-block {
    margin: 0px 0px 20px 0px;
  }

  .portfolio__filter {
    margin: 0px 0px 20px 0px;
  }

  .portfolio__footer {
    padding: 15px 0px 0px 0px;
  }

  .filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .filter__item {
    margin: 0px 15px 15px 15px;
  }

  .promotions {
    padding: 50px 0;
  }

  .main-menu {
    padding: 50px 0;
  }

  .main-menu__image {
    margin: 0px 0px 15px 0px;
  }

  .main-menu__image:last-child {
    margin: 0;
  }

  .address {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 40px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger._active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger._active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 70px 10px 0px 10px;
    background-color: wheat;
    overflow: auto;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu._active {
    -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0, 0px);
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__list li {
    padding: 0 0 35px 0;
    position: relative;
  }

  .header__list li:last-child {
    padding: 0;
  }

  .header__list li:after {
    width: 4px;
    height: 4px;
    background-color: #4d4959;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    top: 50px;
    margin: 0px -2px 0px 0px;
  }

  .header__list li:last-child:after {
    display: none;
  }

  a.header__link {
    color: rgba(199, 3, 3, 0.753);
    font-size: 30px;
    font-family: RusMadeInChina, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2.5px;
  }

  .header__mobile-menu-logo {
    margin: 80px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__mobile-menu-logo img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) and (max-width: 767.98px), screen and (max-width: 767px) and (max-height: 600px) {
  .header__mobile-menu-logo {
    margin: 30px 0px 0px 0px;
  }
}

@media (max-width: 650px) {
  .portfolio__item {
    border-radius: 0;
  }

  .portfolio__item-description {
    padding: 5px 0px;
    font-size: 20px;
    border-radius: 0;
  }
}

@media (max-width: 479.98px) {
  .btn {
    padding: 0px 30px;
    height: 40px;
    line-height: 40px;
  }

  .btn_y {
    padding: 0px 20px;
  }

  .main-screen__bg {
    position: absolute;
  }

  .main-screen__header {
    height: 100px;
    font-size: 55px;
  }

  .main-screen__subheader {
    height: 100px;
  }

  .main-screen__subheader .main-screen__text-1 {
    font-size: 24px;
    margin: 0px 0px 5px 0px;
  }

  .main-screen__subheader .main-screen__text-2 {
    font-size: 20px;
  }

  .portfolio__item-description {
    font-size: 13px;
  }

  ._no-webp .delivery{
    background: url("../img/delivery/bg.png") center/cover no-repeat scroll; }

  .delivery {
    padding: 50px 0;
    height: 600px;
  }

  .slider__icon {
    padding: 0px 0px 70% 0px;
  }

  .slider__icon img {
    border-radius: 10px;
  }

  .address__text {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 365px) {
  .main-screen__header {
    font-size: 50px;
  }

  .main-screen__subheader .main-screen__text-1 {
    font-size: 20px;
  }

  .main-screen__subheader .main-screen__text-2 {
    font-size: 16px;
  }
}

._webp .main-screen__header{ background: url(../img/main-screen/rsz_brush.webp) center/100% no-repeat; }

._webp .main-screen__subheader{ background: url(../img/main-screen/rsz_brush.webp) center/100% no-repeat; }

._webp .delivery{ background: url(../img/delivery/bg.webp) center/cover no-repeat fixed; }

@media (max-width: 479.98px){

  ._webp .delivery{ background: url(../img/delivery/bg.webp) center/cover no-repeat scroll; }
}